################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project70/v16/ipch/AutoPCH/f9720f0907aae889/SOURCE1.ipch
