################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project70/v16/ipch/AutoPCH/f9720f0907aae889/SOURCE1.ipch
*.ipch
*.db
*.db-shm
*.db-wal
*.opendb
*.tlog
*.recipe
*.log
*.obj
*.idb
*.pdb
*.exe
*.ilk
*.suo
